<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html>
<head>
    <style>
        .span_label{
            width:120px;
            display:inline-block
        }

    </style>
    <meta charset="UTF-8">
    <title>自动P图</title>
</head>
<body>
    <font size="2" color='{{color}}'>{{info}}</font>
    <form action="/savedemand" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <span class="span_label"><label>app:</label></span>
            <span>
                <select name="app">
                <option value="weixin">微信</option>
                </select>
            </span>
        </div>
        <div>
            <span class="span_label"><label>广告类型:</label></span>
            <select name="adType">
                <option value='banner'>横幅</option>
                <option value='image_text'>图文</option>
                <option value='fine_big'>优雅大图</option>
            </select>
        </div>
        <div>
            <span class="span_label"><label>上传广告:</label></span>
            <input type="file" name="adImg">
            <font size="2" color="purple">上传图片名称不能含中文</font>
        </div>
        <div>
            <span class="span_label"><label>上传角标:</label></span>
            <input type="file" name="adCornerImg">
            <font size="2" color="purple">上传图片名称不能含中文</font>
        </div>
        <div>
            <span class="span_label"><label>标题:</label></span>
            <input type="text" name="title">
        </div>
        <div>
            <span class="span_label"><label>文案:</label></span>
            <input type="text" name="doc">
        </div>
        <div>
            <span class="span_label"><label>文案第一行长度:</label></span>
            <input type="text" name="doc1stLine">
            <font size="2" color="purple">若文案过长，在广告中占两行，有时需要调整第一行文案长度，默认值:15</font>
        </div>
        <div>
            <span class="span_label"><label>公众号类型:</label></span>
            <select name="wcType">
                <option value="car">汽车</option>
            </select>
        </div>
        <div>
            <span class="span_label"><label>网络类型:</label></span>
            <select name="network">
                <option value='wifi'>wifi</option>
                <option value='3G'>3G</option>
                <option value='4G'>4G</option>
            </select>
        </div>
        <div>
            <span class="span_label"><label>时间:</label></span>
            <input type="text" name="time">
            <font size="2" color="purple">时间举例(要用英文输入法输入)：09:01, 18:56</font>
        </div>
        <div>
            <span class="span_label"><label>电量:</label></span>
            <select name="battery">
                <option value="0.3">0.3</option>
                <option value="0.4">0.4</option>
                <option value="0.5">0.5</option>
                <option value="0.6">0.6</option>
                <option value="0.7">0.7</option>
                <option value="0.8">0.8</option>
                <option value="0.9">0.9</option>
                <option value="1.0">1.0</option>
            </select>
        </div>
        <br>
        <input type="submit" value="提交">
    </form>
    <p>{{ rlt }}</p>
</body>
</html>
