<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html>
<head>
    <style>

    </style>
    <meta charset="UTF-8">
    <title>自动P图</title>
</head>
<body>
    {% for img in imgs %}
        {% if img.status == 1 %}
            <div>
                {{img.app}} P图完毕
                <img style="width:100px;height:200px" src="{{img.compositeImage.url}}" />
            </div>
        {% else %}
            <div>
                {{img.app}} P图进行中,上传的广告如图:
                <img width="100px", height="50px" src='{{img.adImg.url}}'/>
            </div>
        {% endif %}
    {% endfor %}
</body>
</html>
